{% extends 'navigationbar.html' %}
{% load static %}
{% block body %}
<div class="container">
    <h2 class="text-center mt-5">Add Appointment</h2>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="card col-md-6  mt-2" style="background-color: moccasin; box-shadow: 5px 5px 12px 23px burlywood;">
        <form method="post" class="form mt-4">
           {% csrf_token %}
            <label class="font-weight-bold text-danger">Doctor's Name *</label>
           <select name="doctor" class="form-control">
               {% for i in doctor %}
               <option value="{{i.name}}">{{i.name}} [{{i.id}}]</option>
               {% endfor %}
           </select>

            <label class="font-weight-bold text-danger">Patient's Name *</label>
            <select name="patient" class="form-control">
                {% for i in patient %}
                <option value="{{i.name}}">{{i.name}} [{{i.id}}]</option>
                {% endfor %}
            </select>

            <label class="font-weight-bold text-danger">Appointment Data *</label>
            <input type="date" class="form-control" name="date" placeholder="Please Select Appointment Date Here !" required>

            <label class="font-weight-bold text-danger">Appointment Time *</label>
            <input type="time" class="form-control" name="time" placeholder="Please Select Appointment Time Here !" required>

            <div class="text-center mb-4 mt-4">
                <input type="submit" value="Add Appointment" class="btn btn-success">
            </div>
        </form>
        </div>
    </div>
</div>

{% ifequal error "no" %}
<script>
    alert('Appointment Added Successfully!');
    window.location=('{% url 'view_appointment' %}');
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Something went wrong , Try Again');
</script>
{% endifequal %}

{% endblock %}